.footer {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #292929;
  border-top: 1px solid #ddd;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.social-section p {
  margin: 0;
  font-size: 0.9rem;
}

.social-icons {
  color: white;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.icon-circle {
  background-color: #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  transition: transform 0.3s ease;
}

.icon-circle:hover {
  transform: scale(1.1);
}

.social-icon {
  width: 17px;
  height: 17px;
  color: white;
}

.footer-credit {
  font-size: 0.8rem;
  color: #555;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
